.label-input {

  color: white;
  padding: 5px;
  width: 200px;
  text-align: left;
  font-size: 20px;
}

.error {
  color: red
}

.Button a {
  text-decoration: none;
  color:black;
}

.Button {
  display: block;
  color: black;
  border-radius: 3px;
  margin-top: 30px;
  padding: 10px;
  width: 150px;
  margin-left: 4px;

}